<% if session[:user] %>

  <h1>Welcome <%= session[:user]["first_name"] %>!</h1>




  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <div id="map" style="width: 900px; height: 900px"></div>


  <script>

    var map = L.map('map').setView([40.761922, -73.9441684], 13);

    L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
      id: 'examples.map-i86knfo3'
    }).addTo(map);

    var popup = L.popup();

    function onMapClick(e) {
      popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
    }

    map.on('click', onMapClick);

    L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
    }).addTo(map);

    var heatmap = new L.DivHeatmapLayer();

    heatmap.addTo(map);

    heatmap.testAddData();


  </script>

  <!-- LOGGED OUT HOME PAGE -->


<% else %>

  <h1>Welcome to Safe Walk!</h1>
  </br>
  <a href="/signup">Sign Up</a>
  </br>
  <a href="/login">Login</a>


<% end %>

