<!DOCTYPE html>
<html>
<head>
  <link href="style.css" rel="stylesheet" type="text/css"/>
  <title>Safe Walk</title>
  <div class="header">
  <div class="wrapper">
    <h1>SAFE WALK</h1>
  </div>
  </div>
</head>
<body>

<nav>
  <div class="wrapper">
    Navigation Here
  </div><!--end wrapper-->
</nav>



  <div class="wrapper">
    <div id="content">
    <%= yield %>
  </div><!--end wrapper-->
</div><!--end content-->



</body>
</html>


