<h1>Register for Safe Walk!</h1>

</br>

<form action="/signup" method="post" style="display: inline;">

  <div class="form-element">
    <label for="username">Choose a username:</label>
    <input type="text" id="username" name="username" required/>
  </div>

  <div class="form-element">
    <label for="first_name">First name:</label>
    <input type="text" id="first_name" name="first_name" required/>
  </div>

  <div class="form-element">
    <label for="last_name">Last name:</label>
    <input type="text" id="last_name" name="last_name" required/>
  </div>

  <div class="form-element">
    <label for="email_address">Email address:</label>
    <input type="email" id="email_address" name="email_address" required/>
  </div>

  <div class="form-element">
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" required/>
  </div>

  </br>

  <input type="submit" class="button" value="Sign Up"/>

</form>