<article class="main">
  <div id="map-canvas"></div>
</article>

<aside class="aside-1">

  <div id="control">
    <table>
      <form>
        <tr>
          <td>
            <label for="start">Enter your location:</label></td>
          <td>
            <input type="text" name="start" id="start"/>
          </td>
        </tr>
        <tr>
          <td>
            <label for="end">Destination:</label></td>
          <td>
            <input type="text" name="end" id="end"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="Get directions"/>
          </td>
        </tr>
      </form>
    </table>
  </div>

  <div id="directions-panel"></div>

</aside>





