<div class="container-fluid">
  <div class="row hidden-md hidden-lg">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li class="active"><a href="#directions-pane" role="tab" data-toggle="tab">Directions</a></li>
        <li><a href="#map-pane" role="tab" data-toggle="tab">Map</a></li>
      </ul>
    </div>

    <div class="tab-content">
      <div class="tab-pane active" id="directions-pane">
        <div class="directions-container col-xs-12 col-sm-12">
          <aside class="aside-1">
            <div id="control">
              <table>
                <form>
                  <tr>
                    <td>
                      <label for="start">Enter your location:</label></td>
                    <td>
                      <input type="text" name="start" id="start"/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="end">Destination:</label></td>
                    <td>
                      <input type="text" name="end" id="end"/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p></p>
                    </td>
                    <td>
                      <input id="direction-button" type="submit" value="Get directions"/>
                    </td>
                  </tr>
                </form>
              </table>
            </div>
            <div id="directions-panel"></div>
          </aside>
        </div>
      </div>

      <div class="tab-pane" id="map-pane">
        <div id="map-canvas" class="reset-box-sizing"></div>

      </div>
    </div>
  </div>

</div>







