<h1>Welcome <%= @user.first_name %>!</h1>

<div id='map'></div>
<script>
  L.mapbox.accessToken = 'pk.eyJ1IjoibG1jbmlzaDE0IiwiYSI6ImRqYkxyWXcifQ.Ji7WWNWmsIk8sXZ3axIzxw';

  var geocoder = L.mapbox.geocoder('mapbox.places-v1'),
    southWest = L.latLng(40.822513, -73.83756),
    northEast = L.latLng(40.728657, -74.1062),
    bounds = L.latLngBounds(southWest, northEast);
  map = L.mapbox.map('map', 'lmcnish14.j5mnmepm', {
    maxBounds: bounds,
    maxZoom: 19,
    minZoom: 13
  }).addControl(L.mapbox.geocoderControl('mapbox.places-v1-adder')),

    map.fitBounds(bounds);

</script>




