
<article class="main">
  <div id="map-canvas"></div>
</article>

<aside class="aside-1">

  <div id="control">
    <form>
      <label for="start">Enter your location</label>
      <input type="text" name="start" id="start"/>
      <br>
      <label for="end">Destination:</label>
      <input type="text" name="end" id="end"/>
      <br>
      <input type="submit" value="Get directions"/>
    </form>
  </div>

  <div id="directions-panel"></div>

</aside>





