<div class="flex-container">


  <div class="flex-item"><h1>Welcome to Safe Walk!</h1>
    </br>
    <%= link_to "Register", new_user_path %>
    </br>
    <%= link_to "Login", new_login_path %>
  </div>



</div>



