* {
    margin: 0;
    font-family: "Helvetica Neue Light", "Helvetica Neue", "Arial", sans-serif;
}

html {
    background: url(http://payload146.cargocollective.com/1/10/343738/5238941/New%20York1_905.jpg) left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header, .main, .nav, .aside, .footer {
    flex: 1 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    max-height: 100%;
    flex-flow: row wrap;
    align-items: flex-start;
}

.logo {
    height: 10vh;
}

.header {
    background-color: #88DAE7;
    z-index: 99;
    align-items: flex-end;
    margin: 0;

}

.directions-container {
    height: 87vh;
    border: 1px solid #ccc;
    overflow: auto;

}

.aside-1, .aside-2 {
    background: #bebec1
}

.footer {
    align: flex-end;
}

/* Medium screens */
@media all and (min-width: 600px) {
    /* We tell both sidebars to share a row */
    .aside {
        flex: 1 auto;
    }
}

/* Large screens */
@media all and (min-width: 800px) {
    /* We invert order of first sidebar and main
     * And tell the main element to take twice as much width as the other two sidebars
     */
    .main {
        flex: 4 0;
    }

    .aside-1 {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    .footer {
        order: 4;
    }

}

.navigation {
    list-style: none;
    margin: 0;
    height: 4vh;
    min-height: 4vh;
    background: #51c951;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;

}

a {
    display: block;
    height: 4vh;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    color: white;
    margin: 0;
    max-height: 3vh;
    justify-content: space-around;

}

.navigation a:hover {
    background: darkgreen;
}

@media all and (max-width: 800px) {
    .navigation {
        /*justify-content: space-around;*/
    }
}

@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
        margin: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

#map-canvas {
    height: 87vh;
    width: 100%;

    z-index: 0;
}

#directions-panel {
    max-width: 300px;
}

.adp-warnbox {
    margin: 0;
    display: none;
}

#control {
    /*background: #fff;*/
    padding: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
}

li {
    list-style: none;
    display: block;
}

#crime_updated {
    marker-fill-opacity: 0.5;
    marker-line-color: #FFF;
    marker-line-width: 1.5;
    marker-line-opacity: 1;
    marker-placement: point;
    marker-type: ellipse;
    marker-width: 10;
    marker-allow-overlap: true;
}

.cartodb-popup {
    display: none;
}

#crime_updated[severity="10"] {
    marker-fill: #850200;
}

#crime_updated[severity="9"] {
    marker-fill: #B81609;
}

#crime_updated[severity="8"] {
    marker-fill: #B40903;
}

#crime_updated[severity="7"] {
    marker-fill: #D6301D;
}

#crime_updated[severity="6"] {
    marker-fill: #F11810;
}

#crime_updated[severity="5"] {
    marker-fill: #F84F40;
}

#crime_updated[severity="4"] {
    marker-fill: #FF5C00;
}

#crime_updated[severity="3"] {
    marker-fill: #FFA300;
}

#crime_updated[severity="1"] {
    marker-fill: #FFCC00;
}

