* {
    margin: 0;
}

html {
    background: url(http://payload146.cargocollective.com/1/10/343738/5238941/New%20York1_905.jpg) left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header, .main, .nav, .aside, .footer {
    flex: 1 100%;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-flow: row wrap;
    align-items: flex-start;
}

.logo {
    height: 40px;
}

.header {
    background-color: #88DAE7;
    z-index: 99;
    align-items: flex-end;
    /*height: 50px;*/

}

.aside-1, .aside-2 {
    background: #bebec1
}

.footer {
    align: flex-end;
}

/* Medium screens */
@media all and (min-width: 600px) {
    /* We tell both sidebars to share a row */
    .aside { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
    /* We invert order of first sidebar and main
     * And tell the main element to take twice as much width as the other two sidebars
     */
    .main { flex: 4 0px; }

    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}

.navigation {
    list-style: none;
    margin: 0;

    background: #51c951;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;

}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }


    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

#map-canvas {
    height: 87vh;
    width: 100%;

    z-index: 0;
}

#directions-panel {
    max-width: 300px;
}

.adp-warnbox {
     margin: 0px;
}



#control {
    /*background: #fff;*/
    padding: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
}
